<div class="container is is-fluid statistics-container" *ngIf="gameService.currentGame && !loading">
  <h2 class="subtitle is-5 has-text-info has-text-centered is-uppercase tarocco-game-title t-stat-margin">{{gameService.currentGame.name}}</h2>
  <div class="column">
    <button mat-raised-button aria-haspopup="true">
      <app-search (gameChanged)="getStatistics()"></app-search>
    </button>
    <button mat-raised-button [matMenuTriggerFor]="menu">{{teamDisplay}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="setTeamMode(true)">Ekipa</button>
      <button mat-menu-item (click)="setTeamMode(false)">Igra</button>
    </mat-menu>
  </div>
  <div class="column">

  </div>
  <div class="container">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="AVG P.P.R">
        <app-graph class="tarocco-stat-tab" [statistics]="statistics"></app-graph>
      </mat-tab>
      <mat-tab label="Prikolica">
        <app-graph class="tarocco-stat-tab-graph" [statistics]="statistics" [graph]="'passive'" [type]="'pie'"></app-graph>
      </mat-tab>
      <mat-tab label="Vodilni">
        <app-graph class="tarocco-stat-tab-graph" [statistics]="statistics" [graph]="'active'" [type]="'pie'"></app-graph>
      </mat-tab>
      <mat-tab label="Splošno">
        <app-stat-table class="tarocco-stat-tab" [statistics]="statistics"></app-stat-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="center-screen" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
